/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-family: 'Segoe UI', sans-serif;
  background: #f9f9f9;
  color: #333;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}
#mobile-header {
  display: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}
li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
  color: #e0e0e0;
}
.logo{
    margin: 0 80px;
}
.logo  img{
    height: 100px;
    width: 100px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links a {
  margin: 10px 30px;
  color: #e0e0e0;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  transition: 1s;
  font-weight: 600;
}
.nav-links a:hover {
  transition: 1s;
  color: #c44ef2;
}
.lang-btn {
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
}

.lang-btn.active-lang {
  color: #c44ef2;
  font-size: 18px;

}
/* Scroll effect class */
.scrolled {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
}
/* section 1 */
.section1-mobile{
  display: none;
}
.section1 {
  height: 100vh;
  background-image: url(imgs/background/wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.section1_img{
    margin: 0 60px 0 0;
    padding-top: 250px;
}
.section1 img{
    width: 450px;
    clip-path: circle(60% at 40% 35%);   
}
.section1_info{
    margin: 230px 0 0 20px;
}
.title{
  font-size: 50px;
  font-weight: bold;
  /* color: #965cf5; */
  color: #c44ef2;
}
.section1_buttons{
  padding-top: 80px;
}
.section1_buttons button{
  cursor: pointer;
  height: 30px;
  width: 120px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  background-color:#2b003d;
  box-shadow:0 0 7px 1px #f3caff;
  color: #f9f9f9;
  font-weight: bold;
  transition: 1s;
}
.section1_buttons button:hover{
  transition: 1s;
  background-color: #440045;
}
.scroll{
  margin: 0px 120px;
  padding-top: 50px;
}
.scroll img{
  height: 32px;
  width: 32px;
  animation-name: mover;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
 @keyframes mover {
  from {
    transform: translate(0, 0); /* Estado inicial (no se mueve) */
  }
  to {
    transform: translate(0px, 30px); /* Estado final (se mueve) */
  }
}
/* section 2 */
.section2_cards-mobile{
  display: none;
}
.section2{
  padding-top: 50px;
  height: 1800px;
  background-color: #0e0014;
  background-image:
  radial-gradient(#300b60 1px, transparent 0.7px),
  radial-gradient(#50159e 1px, transparent 0.7px);
  background-size: 300px 300px, 400px 400px;
  background-position: 0 0, 150px 150px;
}
.section2_title{
  text-align: center;
  padding-top: 60px;
}
.title2{
  font-size: 50px;
  color: #c44ef2;
}
.subtitle{
  color: #e0e0e0;
  
}
.section2_cards{
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section2_cards div{
  display: flex;
  justify-content: center;
  align-items: start;
}
.cardImg img{
  width: 500px;
  margin: 20px 20px;
  border-radius: 10px;
  box-shadow:0 0 7px 1px #f3caff;
}
.cardInfo{
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.cardInfo_tec {
  display: flex;
  gap: 1rem; 
  padding-bottom: 10px;
}

.cardInfo_tec p {
  font-weight: 600;
  padding: 1px 16px;     
  border-radius: 8px;
  font-size: 12px;
}

.html {
  background-color: #E34F26; 
  color: #e0e0e0;
}

.css {
  background-color: #1572B6; 
  color: #e0e0e0;
}

.js {
  background-color: #F7DF1E; 
  color: #0e0014;  
}
.tailwind{
  background-color: #3b82f6;
  color: #e0e0e0;
}
.cardInfo_text{
  color: #e0e0e0;
  padding-bottom: 10px ;
  font-size: 14px;
}

.cardInfo_buttons{
  display: flex;
  gap: 1rem;
}
.cardInfo_buttons button{
  padding: 5px 16px;       
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 10px;
    background-color:#0e0014;
  border: none;
  box-shadow:0 0 7px 1px #f3caff;
  /* background-color: #9d2acb; */
  color: #f9f9f9;
  transition: 1s;
}
.cardInfo_buttons button:hover{
  background-color: #270028;
  transition: 1s;
}
/*section3*/
.section3{
  background-image: url(imgs/background/wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  text-align: center;
  max-width: 600px;
  margin: 0px auto;
  padding-top: 60px;
  padding-bottom: 200px;
  
}
.skill-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
  transition: transform 0.2s;
}
.skill-item img:hover {
  transform: scale(1.1);
}
.skill-name {
  font-size: 16px;
  color: #e0e0e0;
  font-weight: bold;
}
.learning{
  font-size: 10px;
  color: #e0e0e0;
  font-style: italic;
}

/* section4 */
.section4{
  background-color: #0e0014;
  background-image:
    radial-gradient(#300b60 1px, transparent 0.7px),
    radial-gradient(#50159e 1px, transparent 0.7px);
  background-size: 300px 300px, 400px 400px;
  background-position: 0 0, 150px 150px;
  padding: 50px 0 50px 0;
}
.img-info{
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content:center;
}
.contact-img img{
  width: 450px;
  height: 450px;

}


  /* .contact-form{
  background-color: rgba(64, 64, 64, 0.1);    height: 430px;
    width: 550px;
    border-radius: 20px;
  } */
    form {
      max-width: 400px;
      margin: 0 0 0 70px;
      text-align: center;
    }

    label {
      display: block;
      margin-top: 15px;
      font-weight: bold;
      color: #e0e0e0;
    }

    input, textarea {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border: none;
      border-radius: 10px;
      color: #e0e0e0;
      background-color: #0e0014;
      box-shadow: 0 0 7px 1px #f3caff;
      text-align: center;
    }

    form button {
      font-weight: bold;
      color: #e0e0e0;
      margin-top: 30px;
      height: 40px;
      width: 100%;
      border: none;
      border-radius: 10px;
      background-color: #0e0014;
      box-shadow: 0 0 7px 1px #f3caff;
      transition: 1s;
      cursor: pointer;
    }

    form button:hover {
      transition: 1s;
      background-color: #270028;
    }



/* FOOTER */
  footer {
    background-image: url(imgs/background/wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
    font-size: 14px;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .footer-info{
    padding-top: 20px;
  }
  .footer-info a{
    color: #9d2acb;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer-logo img {
    width: 80px;
    height: auto;
  }

  .footer-icons {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .footer-icons img{
    transition:  1s;
    margin: 0 10px;
  }
  .footer-icons img:hover{
    transition:  1s;
    margin: 10px 10px;

  }
  .footer-icons p{
    font-size: 12px;
    text-align: left;
  }

  .footer-bottom {
    margin-top: 10px;
    font-size: 13px;
    color: #aaa;
  }

  .footer-bottom a {
    color: #c44ef2;
    text-decoration: none;
  }






@media (max-width: 1000px) {
  /* Estilos para mobile */
  #main-header {
    display: none;
  }

  #mobile-header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 16px;
  }

  .mobile-navbar {
    width: 100%;
  }

  /* Parte superior con logo, idiomas y botón hamburguesa */
  .mobile-nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .mobile-nav-top .div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Logo alineado a la izquierda */
  .mobile-nav-top .div:first-child {
    justify-content: flex-start;
  }

  /* Hamburguesa alineada a la derecha */
  .mobile-nav-top .div:last-child {
    justify-content: flex-end;
  }
  /* Logo */
  .mobile-logo {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }

  /* Botón hamburguesa */
  .hamburger-btn {
    background: none;
    border: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
  }
  /* Menú desplegable */
  .mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #0e0014;
    background-image:
    radial-gradient(#300b60 1px, transparent 0.7px),
    radial-gradient(#50159e 1px, transparent 0.7px);
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
  }
  .mobile-menu.show {
  display: flex;
}

  .mobile-menu li {
    list-style: none;
    padding: 10px 20px;
  }

  .mobile-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
  }

  .mobile-menu li a:hover {
    color: #c44ef2;
  }

  /* SECTION1 */
  .section1{
    display: none;
  }
  .section1-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(imgs/background/wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 100px; 
  }
  .section1-mobile > div {
    margin: 0 30px;
    padding: 0px 0;
  }
  .section1_img{
    padding-top: 30px;
  }
  .section1_img img{
    height: 250px;
    clip-path: circle(60% at 50% 35%);   
  }
  .section1_info{
    text-align: center;
  }
  .title{
    font-size: 25px;
  }
  .text{
    font-size: 12px;
    text-align: center;
  }
  .icon-mobile{
    display: flex;
    font-size: 12px;
    justify-content: center;
    padding-top: 10px;
  }
  .icon-mobile li{
    margin: 5px 10px;
  }
  .section1_buttons {
    display: flex;
    flex-direction: column;
    gap: 10px; /* si querés espacio entre botones */
    align-items: center;
  }

  /* Scroll img centrado */
  .scroll img {
    width: 20px;
    margin-top: 0px;
  }
  
  /* SECTION 2 */
  .section2{
    display: none;
  }
  .section2_cards-mobile{
    height: 2500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e0014;
    background-image:
      radial-gradient(#300b60 1px, transparent 0.7px),
      radial-gradient(#50159e 1px, transparent 0.7px);
    background-size: 300px 300px, 400px 400px;
    background-position: 0 0, 150px 150px;
  }
  .title2{
    font-size: 35px;
  }
  .subtitle{
    font-size: 13px;
    letter-spacing: 0;
    padding-bottom: 30px;
  }
  .section2_cards {
    display: none;
  }

  .allcards{
    margin: 20px 0;
  }
  .cardImg{
    text-align: center;
  }
  .cardImg img{
    width: 250px;
    text-align: center;
  }
  .cardInfo_tec {
    display: flex;
    justify-content: center;
  }
  .cardInfo_text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 70px;
  }
  .cardInfo_text p{
    text-align: center;
    font-size: 12px;
  }
  .cardInfo_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cardInfo_buttons button{
    width: 250px;
  }

  /* section 3 */
  .skills-grid {
    gap: 40px;
    text-align: center;
    margin: 0px 60px;
    padding-bottom: 80px;
  
  }
  .skill-item img {
    width: 40px;
    height: 40px;

  }
  .skill-name {
    font-size: 14px;
  }

  /* section 4 */

.section4{
  padding: 10px 0 40px 0;  
}
.img-info{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center ;
}
.contact-img img{
  width: 200px;
  height: 200px;

}
 form {
        padding: 10px;
        margin: 0 50px;
        font-size: 14px;
      }

      form button {
        height: 40px;
        font-size: 14px;
      }

}
